<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-xs-12">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" ng-model="login.identifier" placeholder="Username or Email" type="text" autofocus="" required="required">
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="login.password" placeholder="Password" type="password" value="" required="required">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" ng-model="login.remember" type="checkbox" value="Remember Me">Remember Me</label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a ng-click="doLogin(login)" class="btn btn-sm btn-success">Sign In</a>
                            <a ui-sref="app.register" class="btn btn-sm btn-primary">Sign Up</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>